
@{
    ViewBag.Title = "ListaRemisionMedicasDeportiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/Remision/ListaRemisiones.js"></script>
<h1><strong>Listado Remisiones Medicas</strong></h1>


<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-Remisiones">
        <thead>
            <tr class="ColorTabla">
                <th>ID</th>
                <th>ESTADO</th>
                <th>IDENTIFICACIÓN</th>
                <th>FECHA REMISIÓN</th>
                <th>DISCIPLINA</th>
                <th>MUNICIPIO</th>
                <th>CATEGORIA</th>
                <th>AREA SERVICIO</th>
            </tr>
        </thead>
    </table>
</div>
