
@{
    ViewBag.Title = "ListaControlPsicologiaDeportiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/ControlPsicologia/ListaControlPsicologia.js"></script>
<h2><strong>Lista Control - Psicologia Deportiva</strong></h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-ControlPsicologia">
        <thead>

            <tr class="ColorTabla">
                <th>IDENTIFICACIÓN DEPORTISTA</th>
                <th>FECHA</th>
                <th>EVOLUCIÓN</th>
                <th>TEST PSICOLOGICO</th>
                <th>FIRMA DOCTOR</th>
                

            </tr>
        </thead>
    </table>
</div>
