
@{
    ViewBag.Title = "ListaEntrenamientoMensual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script defer src="~/Scripts/APP/PlanEntrenamientoMensual/ListaPlanEntrenamiento.js"></script>



<h2>Listado Entrenamiento Mensual</h2>


<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-PlanEntrenamiento">
        <thead>
            <tr class="ColorTabla">

                <th>NUMERO IDENTIFICACIÓN</th>
                <th>NOMBRE DEPORTISTA </th>
                <th>NOMBRE ENTRENADOR</th>
                <th>DEPORTE</th>
                <th>AGRUPACION</th>
                <th>CATEGORIA</th>
                <th>MODALIDAD</th>




            </tr>
        </thead>
    </table>
</div>