
@{
    ViewBag.Title = "ListaCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/Categoria/ListaCategoria.js"></script>
<h2>Lista Categoria</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-Categoria">
        <thead>
            <tr class="ColorTabla">
                <th>DEPORTE</th>
                <th>NOMBRE CATEGORIA</th>
                <th>DESCRIPCION CATEGORIA</th>
                
            </tr>
        </thead>
    </table>
</div>