
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        text-align: center;
        color: cadetblue
    }
</style>

<script defer src="~/Scripts/APP/UnidadEntrenamiento/UnidadEntrenamiento.js"></script>
<h1>
    <strong>
        SECRETARIA DE RECREACION Y DEPORTES
        ÁREA TÉCNICA METODOLOGÍCA
        ACTA  VISITA UNIDAD DE ENTRENAMIENTO
    </strong>

</h1>

<h2><strong>Datos Generales</strong>  </h2>

<div class="row m-0">

    <form id="FormPlanEntrenamineto" name="FormPlanEntrenamineto">

        <div class="row m-0">




            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong> Nombre Entrenador</strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="NombreEntrenador" name="NombreEntrenador" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Deporte</strong></label>
                @{
                    var ListaDeporte = BIOMEDICO.Controllers.DeporteController.ListDeporte();

                    <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="Deporte" name="Deporte">
                        <option value="">Seleccionar</option>
                        @foreach (var item in ListaDeporte)
                        {
                            <option value="@item.CodDeporte">@item.NombreDeporte</option>
                        }


                    </select>
                }
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Agrupacion </strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="Agrupacion" name="Agrupacion" />
            </div>
           
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Categorias</strong></label>
                @{
                    var listaCategoria = BIOMEDICO.Controllers.CategoriaController.ListCategoria();

                    <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="Categoria" name="Categoria">
                        <option value="">Seleccionar</option>
                        @foreach (var item in listaCategoria)
                        {
                            <option value="@item.IdCategoria">@item.NomCategoria</option>
                        }


                    </select>
                }
            </div>


            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Modalidad</strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="Modalidad" name="Modalidad" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Fecha Sesion </strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="date" class="form-control" id="FechaSesion" name="FechaSesion" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Hora Inicio</strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="time" class="form-control" id="HoraInicio" name="HoraInicio" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Hora Final</strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="time" class="form-control" id="HoraFinal" name="HoraFinal" />
            </div>


            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Objetivos Sesion </strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="ObjetivosSesion" name="ObjetivosSesion" />
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Numero Mesociclo </strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="NumMesociclo" name="NumMesociclo" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Tipo Microciclo  </strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="TipoMicrociclo" name="TipoMicrociclo" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <label><strong>Metodologo Evaluador  </strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="MetodologoEvaluador" name="MetodologoEvaluador" />
            </div>
        </div>






    </form>
</div>
<br />

<br />

<br />

<div class="row m-0">
    <h1><strong>ACTIVIDAD PREPARATORIA </strong> </h1>
    <hr width=100% align="right" size=200 color="black">

    <br />
    <form id="FormDeportistaPadre" name="FormDeportistaPadre">

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong> ¿Inicia Puntualmente la Sesión de Entrenamiento?</strong></label>
                <select class="select2 form-control select-css" id="Sesionentrenamiento" name="Sesionentrenamiento">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Explica Adecuadamente  la Unidad de Entrenamiento.?</strong></label>
                <select class="select2 form-control select-css" id="UnidadEntrenamiento1" name="UnidadEntrenamiento1">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Explica claramente los objetivos de  la unidad de entrenamiento.?</strong></label>
                <select class="select2 form-control select-css" id="ObjetivosEntrenamiento" name="ObjetivosEntrenamiento">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Planifica el calentamiento de forma adecuada?</strong></label>
                <select class="select2 form-control select-css" id="PlanificaCalentamiento" name="PlanificaCalentamiento">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿realiza Calentamiento General.?</strong></label>
                <select class="select2 form-control select-css" id="CalentamientoGeneral" name="CalentamientoGeneral">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Realiza Calentamiento específico.?</strong></label>
                <select class="select2 form-control select-css" id="CalentamientoEspecifico" name="CalentamientoEspecifico">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>





        </div>

        <br />
    </form>

</div>

<br />

<br />

<br />

<div class="row m-0">
    <h1><strong>ACTIVIDAD PRINCIPAL </strong> </h1>
    <hr width=100% align="right" size=200 color="black">

    <br />
    <form id="FormDeportistaPadre" name="FormDeportistaPadre">

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Planea la actividad principal de acuerdo a objetivos ?</strong></label>
                <select class="select2 form-control select-css" id="AcuerdoObjetivos" name="AcuerdoObjetivos">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Los Medios de Entrenamiento son los Adecuados?</strong></label>
                <select class="select2 form-control select-css" id="MediosEntrenamientos" name="MediosEntrenamientos">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Los Métodos de entrenamiento para el Desarrollo de la UE son Adecuados?</strong></label>
                <select class="select2 form-control select-css" id="ObjetivosMultiples" name="ObjetivosMultiples">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿La Sesión cumple con los objetivos fisiológicos, psicológicos y pedagógicos?</strong></label>
                <select class="select2 form-control select-css" id="MaterialAdecuado" name="MaterialAdecuado">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Utiliza Material Adecuado para la Consecución de Objetivos?</strong></label>
                <select class="select2 form-control select-css" id="CompoentesEntrenamientos" name="CompoentesEntrenamientos">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Trabaja los Componentes del Entrenamiento de Acuerdo a lo Planificado?</strong></label>
                <select class="select2 form-control select-css" id="EvaluaCumplimientoUE" name="EvaluaCumplimientoUE">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>

        </div>
        <br />
    </form>

</div>
<br />

<br />

<br />

<div class="row m-0">
    <h1><strong>ACTIVIDAD FINAL </strong> </h1>
    <hr width=100% align="right" size=200 color="black">

    <br />
    <form id="FormDeportistaPadre" name="FormDeportistaPadre" class="col-xl-12">

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Planifica la actividad final?</strong></label>
                <select class="select2 form-control select-css" id="PlanificaActividadFinal" name="PlanificaActividadFinal">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Evalúa el cumplimiento de la UE?</strong></label>
                <select class="select2 form-control select-css" id="EvaluaCumplimientoUE" name="EvaluaCumplimientoUE">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿Cumple los objetivos de actividad final ?</strong></label>
                <select class="select2 form-control select-css" id="ObjetivosActividadFinal" name="ObjetivosActividadFinal">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>


        </div>
        <br />
    </form>

</div>
<br />

<br />

<br />

<div class="row m-0">
    <h1><strong>ASPECTOS GENERALES </strong> </h1>
    <hr width=100% align="right" size=200 color="black">

    <br />
    <form id="FormDeportistaPadre" name="FormDeportistaPadre">

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿La Motivación hace parte del Objetivo de la UE?</strong></label>
                <select class="select2 form-control select-css" id="MotivacionObjetivos" name="MotivacionObjetivos">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿La Disciplina es la Adecuada?</strong></label>
                <select class="select2 form-control select-css" id="DisciplinaAdecuada" name="DisciplinaAdecuada">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿El control de grupo es el indicado?</strong></label>
                <select class="select2 form-control select-css" id="ControlGrupo" name="ControlGrupo">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>¿El Respeto hace parte de la Unidad de Entrenamiento ?</strong></label>
                <select class="select2 form-control select-css" id="RespetoEntrenamiento" name="RespetoEntrenamiento">
                    <option value="">Seleccionar</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>

        </div>
        <br />
    </form>

</div>
<br />

<br />

<br />

<div class="row m-0">
    <h1><strong>OBSERVACIONES </strong> </h1>
    <hr width=100% align="right" size=200 color="black">

    <br />
    <form id="FormDeportistaPadre" name="FormDeportistaPadre" class="col-xl-12">

        <div class="row m-0">

            <div class="col-xs-12 col-sm-12 col-md-12">
                <label><strong>Recomendaciones generales a UE:</strong></label>
                <textarea style="border: black; border-width: 1px; border-style: solid;" name="textarea" rows="10" cols="10" class="form-control" id="RecomendacionesGenerales"></textarea>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <label><strong>Observaciones del entrenador:</strong></label>
                <textarea style="border: black; border-width: 1px; border-style: solid;" name="textarea" rows="10" cols="10" class="form-control" id="ObservacionesEntrenadores"></textarea>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label><strong><strong>Firma Entrenador </strong></strong></label>

                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="FirmaEntrenador" name="FirmaEntrenador" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label><strong><strong>Firma Metodologo    </strong></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" class="form-control" id="FirmaMetodologo" name="FirmaMetodologo" />
            </div>

        </div>
        <br />
    </form>

</div>
<div class="col-xs-4 col-sm-4 col-md-4">
    <button type="button" onclick="Createobj()" class="btn btn-block btn-outline-primary btn-rounded btn-outline mt-4" id="SaveUnidadEntrenamiento">Guardar </button>
</div>
