
@{
    ViewBag.Title = "ListaUnidaEntrenamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/UnidadEntrenamiento/ListaUnidadEntrenamiento.js"></script>
<h2>Listado Unidad Entrenamiento</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-UnidadEntrenamiento">
        <thead>
            <tr class="ColorTabla">



                <th>NOMBRE ENTRENADOR</th>
                <th>DEPORTE</th>
                <th>AGRUPACION</th>
                <th>CATEGORIA</th>
                <th>MODALIDAD</th>
                <th>OBJETIVO SESION</th>
                <th>NUMERO MESOCICLO</th>
               


            </tr>
        </thead>
    </table>
</div>