
@{
    ViewBag.Title = "ListaControlFisioterapiaDeportiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/ControlFisioterapia/ListaControlFisioterapia.js"></script>
<h2><strong>Listado Control - Fisioterapia Deportiva</strong></h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-ControlFisioterapia">
        <thead>

            <tr class="ColorTabla">
                <th>IDENTIFICACIÓN DEPORTISTA</th>
                <th>PATOLOGICOS </th>
                <th>QUIRURGICOS </th>
                <th>TRAUMATICOS </th>
                <th>FARMACOLOGICOS </th>
                <th>FAMILIARES </th>
                <th>DIAGNOSTICO MEDICO </th>
                <th>MOTIVO CONSULTA </th>
                <th>DOLOR </th>
                <th>EDEMA </th>
                <th>ALTERADA </th>
              


            </tr>
        </thead>
    </table>
</div>