
@{
    ViewBag.Title = "ListaCronogramaActividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/CronogramaActividades/ListaCronogramaActividades.js"></script>
<h2>Listado Cronograma Actividades</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-CronogramActividades">
        <thead>
            <tr class="ColorTabla">


                <th>NOMBRE ENTRENADOR</th>
                <th>DEPORTE</th>
                <th>SEMANA DEL</th>
                <th>SEMANA HASTA</th>
                <th>ACTIVIDADES SEMANAL</th>
                <th>HORA</th>
                <th>FECHA</th>
               


            </tr>
        </thead>
    </table>
</div>