
@{
    ViewBag.Title = "ListaPlanGrafico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/PlanGrafico/ListaPlanGrafico.js"></script>
<h2>Lista Plan Grafico</h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-PlanGrafico">
        <thead>
            <tr class="ColorTabla">


                <th>DEPORTE</th>
                <th>NOMBRE MACROCICLO</th>
                <th>MES 1</th>
                <th>MES 2</th>
                <th>MES 3</th>
                <th>MES 4</th>
                <th>TIPO MESOCICLO</th>
                






            </tr>
        </thead>
    </table>
</div>