
@{
    ViewBag.Title = "ListaPsicologiaDeportiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/APP/Psicologia/ListaPsicologia.js"></script>
<h2><strong>Listado Psicologia Deportiva</strong></h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-Psicologia">
        <thead>
            <tr class="ColorTabla">
                <th>IDENTIFICACIÓN DEPORTISTA</th>
                <th>ESTADO CIVIL</th>
                <th>NIVEL EDUCATIVO</th>
                <th>YO SOY</th>
                <th>  NUMERO HERMANOS  </th>
                <th> VIVO CON   </th>
                <th> ACTUALMENTE VIVO   </th>
                <th> RELIGION   </th>
                <th>DEPENDENCIA ECONOMICA    </th>
                <th> NOMBRE PADRE   </th>
                <th> EDAD PADRE   </th>
                <th> RELACION PADRE   </th>
                <th> NOMBRE MADRE   </th>
                <th> EDAD MADRE   </th>
                <th> RELACION MADRE   </th>
                <th> RELACION HERMANOS   </th>
                <th> SUSTANCIAS PSICOLOGICAS </th>
                <th> ENFERMEDAD MENTALES   </th>
                <th> ENFERMEDAD CORONARIAS </th>
                <th>OBESIDAD    </th>
                <th> CANCERFMLIA   </th>
                <th> HIPERTENSION   </th>
                <th> ENFERMEDAD ALERGICAS </th>
                <th>SUSTANCIASPSICOACTIVASPER    </th>
                <th> ENFERMENTALESPER   </th>
                <th>  DIABETESPER  </th>
                <th>  ENFERCORONARIASPER  </th>
                <th> OBESIDADPER   </th>
                <th> CANCERPER   </th>
                <th> HIPERTENSIONPER   </th>
                <th>  ENFERALERGICASPER  </th>
                <th> ASMAPER   </th>
                <th>COMPLICACIONESPARTOPER    </th>
                <th> LESIONESPER   </th>
                <th> CUALESLESIONESPER   </th>
                <th> TRABAJOCONCENTRARSEPER   </th>
                <th> DOLORMUSCULARPER   </th>
                <th>PARTOCESAREAPER    </th>
                <th> PARTONORMALPER   </th>
                <th>LESIONADOACTUALPER    </th>
                <th>  DIFICULTADSUEÑOPER  </th>
                <th> DOLORCABEZAPER   </th>
                <th>  CIRUGIASPER  </th>
                <th> APETITOPER   </th>
                <th>  CANSADOPER  </th>
                <th>  OTROPER  </th>
                <th>  HISTORIADELPROBLEMAPER  </th>
                <th>  ENTRENAMIENTOACTUALPSI  </th>
                <th> HORASDIARIASPSI   </th>
                <th> NUMEROSESIONESPSI   </th>
                <th> LUGARPSI   </th>
                <th> NOMBREENTRENADORPSI   </th>
                <th>  INICIODEPORTEPSI  </th>
                <th> ENTRENAMIENDOPSI   </th>
                <th>COMPETICIONPSI    </th>
                <th>  ENTRENAMIENTOGUIADOPSI  </th>
                <th>  MEAPOYANPSI  </th>
                <th> COMPROMISOPSI   </th>
                <th> ENTRAMIENTOPSICOLOGICOPSI   </th>
                <th>OBSERVACIONESPSI    </th>
                <th> RESULTADOSPSI   </th>
                <th>  RECOMENDACIONESPSI  </th>
                <th> REMISIONPSI   </th>
                <th> SEGUIMIENTOPSI   </th>
                <th>PRUEBA    </th>
                <th> PUNTUACION   </th>
                <th> VALORACION   </th>
                <th> CONCEPTO   </th>
              
              
            </tr>
        </thead>
    </table>
</div>
