
@{
    ViewBag.Title = "ListaControlNutricionDeportiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script defer src="~/Scripts/APP/ControlNutricion/ListaControlNutricion.js"></script>
<h2><strong>Listado Control - Nutricion</strong></h2>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-ControlNutricion">
        <thead>

            <tr class="ColorTabla">
                <th>ID</th>
                <th>CONTROL</th>
                <th>FECHA</th>
                <th>DESAYUNO</th>
                <th>MEDIA MAÑANA</th>
                <th>ALMUERZO</th>
                <th>MEDIA TARDE</th>
                <th>CENA</th>
                <th>PESO</th>
                <th>CAMBIOS</th>
                <th>NUEVO DIAGNOSTICO</th>
                @*<th>NUMERO IDENTIFICACION DEPORTISTA</th>*@
               
            </tr>
        </thead>
    </table>
</div>
