
@{
    ViewBag.Title = "ListaRolDeporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/RolDeporte/ListaRolDeporte.js"></script>
<h2>Lista Rol Deporte</h2>


<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-RolDeporte">
        <thead>

            <tr class="ColorTabla">
                <th>ID</th>

                <th>DEPORTE</th>
                <th>ROL</th>

            </tr>
        </thead>
    </table>
</div>